* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}


/* navbar */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
/* utility classes******************* */
.text-warning {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  color: aqua;
  background-color: #333;
  padding: 13px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-warning {
  background-color: #333;
  color: #f7c08a;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}
/* utility classes******************* */
#navbar {
  background-color: #333;
  color: white;
  overflow: auto;
}

#navbar a {
  color: white;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar li {
  float: left;
  padding: 20px;
  text-align: center;
}

#navbar li a:hover {
  background-color: #444;
  color: #f7c08a;

}
#navbar li a.current {
  background-color: #f7c08a;
  color: #444
}

#showcase {
  background-image: url('../img/showcase.jpg');
  height: 600px;
}

#showcase .showcase-content {
  color: white;
  text-align: center;
  padding: 150px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.5em;
}

/* Home info */
#home-info {
  height: 300px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/photo-1.jpg');
  background-repeat: no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  min-height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}
