* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}


/* navbar */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

#navbar {
  background-color: #333;
  color: white;
  overflow: auto;
}

#navbar a {
  color: white;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar li {
  float: left;
  padding: 20px;
  text-align: center;
}

#navbar li a:hover {
  background-color: #444;
  color: #f7c08a;

}
#navbar li a.current {
  background-color: #f7c08a;
  color: #444
}
